fastapi >=0.95.2, <1.0
uvicorn
pydantic >=2.0, <3.0
httpx
sqlmodel
bs4
selenium
aiosqlite
structlog
redis
google-genai
lxml
https://github.com/gkjg8787/html_detector_lib/releases/download/v0.2.0/html_detector-0.2.0-cp310-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
